html{
    background-color: #2e528b;
}
body{
    background-color: #2e528b;
    width: 80%;
    margin: 0 auto 0 auto;
}
header{
    border: black 2px solid;
    background-color: #335644;
    margin: 0.5% 0;
}
h1{
    font-size: 4vw;
    margin: 0;
    padding: 1% 0;
    text-align: center;
}
nav#lista{
    border: black 2px solid;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #335644;
    margin-bottom: 1%;
}
ul#Enlaces{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0;
    border-radius: 5%;
}
ul#Enlaces li{
    display: flex;
    list-style-type: none;
    position: relative;
    border: white 2px solid;
    border-radius: 5%;
    background-color: #333333;
    padding: 1% 2.25%;
    flex-flow: column wrap;
}
ul#Enlaces li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.25vw;
    text-align: center;
}
ul#Enlaces li ul{
    display: none;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    margin: 5%;
    padding: 0;
}
ul#Enlaces li:hover ul{
    display: block;
}
ul#Enlaces li ul li{
    display: flex;
    position: relative;
    margin-top: 0.5rem;
}
section#principal{
    border: black 2px solid;
    width: 90%;
    margin: 2%;
    padding: 3%;
    background-color: #fff;
}
h2{
    text-align: center;
    border-bottom: black 2px solid;
}
section.respuestas{
    width: 90%;
    margin: 0% 5% 2% 5%;
    font-size: 1.2vw;
    text-align: justify;
    margin-bottom: 5%;
}
section#perder{
    margin: 3%;
}
@media screen and (max-width: 480px) {
    body{
        width: 99%;
    }
    header{
        margin: 3% 2%;
    }
    h1{
        font-size: 9vw;
    }
    nav#lista{
        margin: 0 2% 2%;
    }
    ul#Enlaces{
        flex-flow: row wrap;
    }
    ul#Enlaces li{
        width: 20%;
        margin: auto 2% 2% 2%;
        list-style-type: none;
        position: relative;
        border: white 2px solid;
        border-radius: 5%;
        background-color: #333333;
        padding: 1% 2.25%;
    }
    ul#Enlaces li a{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 3vw;
        text-align: center;
    }
    section.respuestas{
        font-size: 3.5vw;
    }
}