* {box-sizing: border-box}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none}
img {vertical-align: middle;}

/* Contenedor de la galería */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Botones "anterior" y "siguiente" */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #c72030;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 100px;
  border-radius: 3px 0 0 3px;
}

/* Posición del botón "siguiente" a la derecha */
.next {
  right: 100px;
  border-radius: 3px 0 0 3px;
}

/* Al pasar el ratón, se añade un fondo blanco semitransparente */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.5);
}

/* Texto informativo */
.text {
  color: #f2f2f2;
  font-size: 1.0vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Texto del número de la foto */
.numbertext {
  color: #f2f2f2;
  font-size: 0.75vw;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 16%;
}

/* Puntos */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #335644;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(31,66,48);
}

/* Animación de desvanecimiento */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* En pantallas más pequeñas, se reduce el tamaño del texto y los botones*/
@media only screen and (max-width: 480px) {
  .prev, .next,.text {font-size: 11px}
  .dot {height: 10px, width: 10px;}
}