@font-face{
    font-family: "BigShoulders";
    src: url("../../fuentes/BigShouldersStencilText-Medium.ttf");
}
@font-face{
    font-family: "Goldman";
    src: url("../../fuentes/Goldman-Regular.ttf");
}
html{
    background-color: #2e528b;
}
body{
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: whitesmoke;
    border: black 2px solid;
}
header{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    background-color: #335644;
    margin-bottom: 1%;
}
h1{
    font-family: BigShoulders, sans-serif;
    text-align: center;
    background-color: #c72030;
    color: #c3b14a;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 a{
    text-decoration: none;
    color: #c3b14a;
    font-size: 6vw;
}
header h1 a:hover{
    text-decoration: none;
    color: black;
}
header h1 img{
    vertical-align: middle;
    height: 15%;
    width: 15%;
    margin-left: 5%;
}
h2#cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: BigShoulders, sans-serif;
    font-size: 4vw;
    background-color: #c72030;
    color: #c3b14a;
    margin-top: 0;
    width: 100%;
}
section {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin: 5% auto 5% auto;
    border: 2px solid black;
    padding: 2%;
    width: 80%;
    box-shadow: 5px 5px 5px black;
}
h2.secciones {
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    font-family: BigShoulders, sans-serif;
    font-size: 3.5vw;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0 0 2.5% 0;
    background-color: #c72030;
    color: #c3b14a;
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th {
    font-size: 1.6vw;
    font-family: Goldman, sans-serif;
    padding: 1%;
	background-color: rgb(0, 139, 204);
	color: white;
    border: 2px solid black;
}
td {
    padding: 0.5%;
    font-size: 1.3vw;
    font-family: Goldman, sans-serif;
    border: 2px solid black;
}
tr{
    background-color: rgb(90, 180, 221);
}
tr:hover {
    background-color: rgb(187, 221, 236);
}
p, input, select, button {
    font-family: Goldman, sans-serif;
    font-size: 1.25vw;
}
form#insert {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin: 2.5% auto 2.5% auto;
    background-color: white;
    padding: 2.5%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}
form#update {
    display: flex;
    flex-flow: column wrap;
    margin: 2.5% auto 2.5% auto;
    background-color: white;
    padding: 2.5%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}
form#delete {
    display: none;
}
div#botones{
    margin: auto;
}